.painelCampo{
  width: 425px;
  height: 440px;
  border-radius: 1%;
  margin-top: 20px;
  position: relative;
  width: 100%;
  background: linear-gradient(0deg, rgba(139,32,111,1) 60%, rgba(192,14,79,1) 100%)
}

.lineCampo{
  position: absolute;
  width: 100%;
  border: 0.5px solid #EAEAEA;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.circleCampo{
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #EAEAEA;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}